.root {
  position: relative;
}

.input {
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 12px 45px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgb(0, 0, 0, 0.2);
  }
}
.iconSearch {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;
}

.iconCross {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: absolute;
  right: 9px;
  top: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
